.pay {
    background: #fff;
}

.stime-info {
    &:before {
        content: "预约时间" !important;
    }
}

.price-info {
    &:before {
        content: "加价" !important;
    }
}

.pt10 {
    padding-top: 10px;
}

.h50 {
    height: 50px;
}

.weui-cell__bd{
    font-size: .8em;
    color: gray;
    margin-right: 10px;
    line-height: 1.2em;
}

.post_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #fff;
    .weui-btn {
        flex: 1;
        line-height: 44px;
        height: 44px;
        width: 100%;
        margin: 0px;
    }
    .post_footer_item_divider{
        width: 10px;
    }
}