<div class="pay">
    <div class="main">
        <div class="weui-wepay-details">
            <div class="weui-wepay-details__hd">
                <div class="weui-wepay-detail">
                    <div class="weui-wepay-detail__bd">订单详情</div>
                    <div class="weui-wepay-detail__ft weui-wepay-color-green"></div>
                </div>
                <div class="weui-wepay-detail weui-wepay-detail_primary" *ngIf="data.start.address">
                    <div class="weui-wepay-detail__bd">从：</div>
                    <div class="weui-wepay-detail__ft">{{data.start.address}}</div>
                </div>
                <div class="weui-wepay-detail weui-wepay-detail_primary" *ngIf="data.end.address">
                    <div class="weui-wepay-detail__bd">到：</div>
                    <div class="weui-wepay-detail__ft">{{data.end.address}}</div>
                </div>
                <div class="weui-wepay-detail weui-wepay-detail_primary" *ngIf="data.distance">
                    <div class="weui-wepay-detail__bd">总路程：</div>
                    <div class="weui-wepay-detail__ft">{{data.distance}}公里</div>
                </div>
                <div class="weui-wepay-detail weui-wepay-detail_primary" *ngIf="data.distance">
                    <div class="weui-wepay-detail__bd">总路时：</div>
                    <div class="weui-wepay-detail__ft">{{data.duration}}分钟</div>
                </div>
            </div>
        </div>
        <form-row>
            <form-input tip="请输入联系人电话">
                <i class="form_mobile_icon"></i>联系电话
            </form-input>
        </form-row>
        <form-row class="pt10">
            <form-image>任务附件</form-image>
            <form-textarea tip="请输入留言"></form-textarea>
        </form-row>
    </div>
</div>

<uploader></uploader>