
.stime-info {
    &:before {
        content: "预约时间" !important;
    }
}

.price-info {
    &:before {
        content: "加价" !important;
    }
}


.h50 {
    height: 50px;
}

.meepo_tip{
    font-size: .8em;
    color: gray;
    margin-right: 10px;
    line-height: 1.2em;
}

.weui-wepay-detail__ft{
    a{
        color: rgba(0, 28, 187, 0.459);
        margin-left: 5px;
        font-size: .8em;
    }
}

.post_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #fff;
    .weui-btn {
        flex: 1;
        line-height: 44px;
        height: 44px;
        width: 100%;
        margin: 0px;
    }
    .post_footer_item_divider{
        width: 10px;
    }
}